.student-navbar {
  background-color: #816ad6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  width: 97.8vw;
  z-index: 100;
  padding-left: 1rem;
  padding-right: 1rem;
}
.student-nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-nav-items li {
  list-style: none;
  margin: 0 10px;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.3rem;
}
.student-nav-items :hover {
  background-color: white;
  color: #816ad6;
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.student-navbar a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.username {
  color: #816ad6;
  font-weight: bold;
}

.input-quantity {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #000000;
  margin: 0.2rem;
}
.student-buy {
  margin: 5%;
}
.student-buy-item {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  width: max-content;
}
.student-buy-item:hover {
  background-color: #ffffff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.student-buy-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.student-buy-item button {
  background-color: #816ad6;
  color: #ffffff;
  border: none;
  border-radius: 0.2rem;
  padding: 0.6rem;
  cursor: pointer;
}
.text {
  font-size: large;
  font-weight: 600;
}
.text-welcome {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5%;
}
