.landing-1 {
  margin-top: 0;
  background-image: url("../assets/BACKGROUND.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}
.landing-whole {
  background-color: #000000;
}
.landing {
  color: white;
}
.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  width: 100vw;

  z-index: 100;
}
.landing-3 {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}
.sentence {
  font-size: 1.5rem;
  font-weight: 600;
}

.landing-3 a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: underline;
}
.link:hover {
  color: white;
  transform: scale(1.5);
}
.landing-3 a:hover {
  cursor: pointer;
  color: white;
  transition: 0.3s;

  text-decoration-color: #3a3a3a;
}

.up {
  margin-top: 1.5rem;
}
.link {
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 0.5rem;
  margin: 1rem;
}
.logo-ff {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.landing-buttons {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.login-text {
  border-top: white solid 1px;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 3rem;
  padding-top: 2rem;
  text-align: center;
}
.landing-buttons button {
  padding: 1rem;
  text-decoration: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 0.2rem;
  margin: 1rem;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-top: #adbc9f solid 2px;
}
.landing-buttons button:hover {
  transform: scale(1.1);
  transition: 0.5s;
  transition: 0.5s;
}
.landing-text {
  margin-top: 15%;
  margin-left: 10%;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}
.link:hover {
  color: white;
  transform: scale(1.1);
  transition: 0.5s;
  text-decoration: underline;
}

.footer {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer ul a {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: underline;
}
