.navbar {
  background-color: #436850;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  width: 100vw;
  z-index: 100;
  border-bottom: #d1d5db solid 1px;
}
.link {
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
  border-radius: 0.5rem;
}

.link:hover {
  background-color: #12372a;
  color: white;
  transform: scale(1.1);
  transition: 0.5s;
}
